<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <mat-card>
      <mat-card-header> {{dish.name}} </mat-card-header>
      <img src="{{dish.image}}" alt="IMAGE" mat-card-image>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <h2>Comments</h2>
    <mat-list>
      <mat-list-item *ngFor="let comment of dish.comments" layout="row">
        <p layout="column">{{comment.comment}}</p> <br>
        <p layout="column"> {{comment.rating}} </p> <br>
        <p layout="column"> --{{comment.author}}  {{comment.date | date}} </p> <br>
      </mat-list-item>
    </mat-list>
  </div>

</div>